In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
# loading the diabetes dataset to a pandas DataFrame
dataset = pd.read_csv('newds.csv')

In [3]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly,1
1,51676,Female,61.0,0,0,Yes,Self_employed,Rural,202.21,NaN,formerly,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,smokes,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,0
4,1665,Female,79.0,1,0,Yes,Self_employed,Urban,174.12,24.0,never,1

In [4]:
dataset.shape

(5229, 12)

In [5]:
dataset.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5229.000000,5229.000000,5229.000000,5229.000000,5229.000000,4721.000000,5229.000000
mean,36827.424938,55.926938,0.189711,0.126410,122.014158,30.387609,0.551922
std,21843.329359,21.217414,0.392110,0.332343,58.226793,7.301971,0.497344
min,67.000000,0.080000,0.000000,0.000000,55.220000,10.300000,0.000000
25%,17236.000000,41.000000,0.000000,0.000000,78.850000,25.500000,0.000000
50%,36811.000000,59.000000,0.000000,0.000000,97.430000,29.300000,1.000000
75%,56112.000000,75.000000,0.000000,0.000000,167.130000,34.900000,1.000000
max,72918.000000,82.000000,1.000000,1.000000,496.970000,97.600000,1.000000

In [6]:
dataset['stroke'].value_counts()

1    2886
0    2343
Name: stroke, dtype: int64

#FINDING THE NULL VALUES

In [7]:
dataset.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  508
smoking_status         0
stroke                 0
dtype: int64

In [8]:
dataset['bmi'].value_counts()

26.4    87
28.1    74
27.3    68
26.1    67
31.4    64
        ..
42.6     1
18.2     1
54.0     1
56.1     1
15.0     1
Name: bmi, Length: 329, dtype: int64

In [9]:
dataset['bmi'].describe()

count    4721.000000
mean       30.387609
std         7.301971
min        10.300000
25%        25.500000
50%        29.300000
75%        34.900000
max        97.600000
Name: bmi, dtype: float64

In [10]:
dataset['bmi'].fillna(dataset['bmi'].mean(),inplace=True)

In [11]:
dataset.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [12]:
dataset.groupby('stroke').mean()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi
stroke,,,,,,
0,36314.695689,41.635015,0.090909,0.048229,106.863811,29.972169
1,37243.684338,67.529841,0.269924,0.189882,134.313971,30.724883

In [13]:
dataset = dataset.drop('id', axis = 1)
dataset.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly,1
1,Female,61.0,0,0,Yes,Self_employed,Rural,202.21,30.387609,formerly,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,smokes,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,0
4,Female,79.0,1,0,Yes,Self_employed,Urban,174.12,24.000000,never,1

In [14]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [15]:
gender=enc.fit_transform(dataset['gender'])

In [16]:
smoking_status=enc.fit_transform(dataset['smoking_status'])

In [17]:
work_type=enc.fit_transform(dataset['work_type'])
Residence_type=enc.fit_transform(dataset['Residence_type'])
ever_married=enc.fit_transform(dataset['ever_married'])

In [18]:
dataset['work_type']=work_type

In [19]:
dataset['ever_married']=ever_married
dataset['Residence_type']=Residence_type
dataset['smoking_status']=smoking_status
dataset['gender']=gender

In [20]:
dataset

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,0,61.0,0,0,1,4,0,202.21,30.387609,1,1
2,1,80.0,0,1,1,2,0,105.92,32.500000,3,1
3,0,49.0,0,0,1,2,1,171.23,34.400000,3,0
4,0,79.0,1,0,1,4,1,174.12,24.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...
5224,0,17.0,0,0,0,2,1,87.52,39.200000,2,0
5225,1,60.0,0,0,1,2,0,213.37,36.000000,2,0
5226,0,75.0,0,0,1,3,0,75.39,37.800000,2,0
5227,0,31.0,0,0,1,2,0,122.41,40.300000,3,0
5228,1,58.0,1,0,1,2,0,223.36,41.500000,1,0

In [21]:
X = dataset.drop(columns = 'stroke', axis=1)
Y = dataset['stroke']

In [22]:
print(X)

      gender   age  hypertension  heart_disease  ever_married  work_type  \
0          1  67.0             0              1             1          2
1          0  61.0             0              0             1          4
2          1  80.0             0              1             1          2
3          0  49.0             0              0             1          2
4          0  79.0             1              0             1          4
...      ...   ...           ...            ...           ...        ...
5224       0  17.0             0              0             0          2
5225       1  60.0             0              0             1          2
5226       0  75.0             0              0             1          3
5227       0  31.0             0              0             1          2
5228       1  58.0             1              0             1          2

      Residence_type  avg_glucose_level        bmi  smoking_status
0                  1             228.69  36.600000               1
1                  0             202.21  30.387609               1
2                  0             105.92  32.500000               3
3                  1             171.23  34.400000               3
4                  1             174.12  24.000000               2
...              ...                ...        ...             ...
5224               1              87.52  39.200000               2
5225               0             213.37  36.000000               2
5226               0              75.39  37.800000               2
5227               0             122.41  40.300000               3
5228               0             223.36  41.500000               1

[5229 rows x 10 columns]

In [23]:
print(Y)

0       1
1       1
2       1
3       0
4       1
       ..
5224    0
5225    0
5226    0
5227    0
5228    0
Name: stroke, Length: 5229, dtype: int64

In [24]:
scaler=StandardScaler()

In [25]:
scaler.fit(X)

StandardScaler()

In [26]:
standardized_data = scaler.transform(X)

In [27]:
print(standardized_data)

[[ 1.16924525e+00  5.21935466e-01 -4.83867669e-01 ...  1.83225005e+00
   8.95482384e-01 -5.65683436e-01]
 [-8.55252567e-01  2.39121836e-01 -4.83867669e-01 ...  1.37743310e+00
  -4.60893891e-15 -5.65683436e-01]
 [ 1.16924525e+00  1.13469833e+00 -4.83867669e-01 ... -2.76431106e-01
   3.04489719e-01  1.24125529e+00]
 ...
 [-8.55252567e-01  8.99020305e-01 -4.83867669e-01 ... -8.00810318e-01
   1.06845585e+00  3.37785925e-01]
 [-8.55252567e-01 -1.17494631e+00 -4.83867669e-01 ...  6.79893661e-03
   1.42881723e+00  1.24125529e+00]
 [ 1.16924525e+00  9.77150207e-02  2.06668076e+00 ...  1.74070268e+00
   1.60179069e+00 -5.65683436e-01]]

In [28]:
X = standardized_data
Y = dataset['stroke']

In [29]:
print(X)
print(Y)

[[ 1.16924525e+00  5.21935466e-01 -4.83867669e-01 ...  1.83225005e+00
   8.95482384e-01 -5.65683436e-01]
 [-8.55252567e-01  2.39121836e-01 -4.83867669e-01 ...  1.37743310e+00
  -4.60893891e-15 -5.65683436e-01]
 [ 1.16924525e+00  1.13469833e+00 -4.83867669e-01 ... -2.76431106e-01
   3.04489719e-01  1.24125529e+00]
 ...
 [-8.55252567e-01  8.99020305e-01 -4.83867669e-01 ... -8.00810318e-01
   1.06845585e+00  3.37785925e-01]
 [-8.55252567e-01 -1.17494631e+00 -4.83867669e-01 ...  6.79893661e-03
   1.42881723e+00  1.24125529e+00]
 [ 1.16924525e+00  9.77150207e-02  2.06668076e+00 ...  1.74070268e+00
   1.60179069e+00 -5.65683436e-01]]
0       1
1       1
2       1
3       0
4       1
       ..
5224    0
5225    0
5226    0
5227    0
5228    0
Name: stroke, Length: 5229, dtype: int64

In [30]:
#TRAIN TEST SPLIT

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [32]:
print(X.shape, X_train.shape, X_test.shape)

(5229, 10) (4183, 10) (1046, 10)

In [33]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [34]:
rf.fit(X_train,Y_train)

RandomForestClassifier()

In [35]:
Y_pred=rf.predict(X_test)

In [36]:
ac_rf=accuracy_score(Y_test,Y_pred)

In [37]:
ac_rf

0.9684512428298279

In [38]:
import pickle

In [39]:
filename = 'train_model.sav'
pickle.dump(ac_rf ,open(filename,'wb'))

In [40]:
#loading saved model
load_model=pickle.load(open('train_model.sav' , 'rb'))

In [42]:
input_data= (1,67,0,1,1,2,1,228.7,36,1)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
std_data = scaler.transform(input_data_reshaped)
print(std_data)
prediction=load_model.Y_pred(std_data)
print(prediction)
if(prediction[0]==0):
    print("The person will not have stroke")

else:
    print("the person will have stroke")

[[ 1.16924525  0.52193547 -0.48386767  2.62882888  0.51287764 -0.26985103
   0.96522467  1.83242181  0.80899565 -0.56568344]]

C:\Users\poonav kuchekar\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

AttributeError: 'numpy.float64' object has no attribute 'Y_pred'